exportPattern("^[[:alpha:]]+")
exportClasses(VegX, 
              VegXMethodDefinition,
              VegXStrataDefinition,
              VegXSurfaceTypeDefinition)
importFrom("uuid", "UUIDgenerate")
importFrom("methods","new")
importFrom("XML", "newXMLDoc", "newXMLNode",
           "xmlTreeParse", "xmlValue", "xmlAttrs",
           "saveXML", "xmlApply", "xmlRoot")
importFrom("sp", "SpatialPoints", "spTransform", "CRS")
