exportPattern("^[[:alpha:]]+")
exportClasses(VegX, 
              VegXMethodDefinition,
              VegXStrataDefinition,
              VegXSurfaceTypeDefinition)
importFrom("sp", "SpatialPoints", "spTransform", "CRS")
